<h2>Task Details</h2> 

<hr/>
<div *ngIf="task">
  <div>
    <label><b>Task : </b></label> {{task.task}}
  </div>
  <div>
    <label><b>Parent Task: </b></label> {{task.parentTask}}
  </div>
  <div>
    <label><b>Task: </b></label> {{task.task}}
  </div>  
  <div>
    <label><b>Start Date: </b></label> {{task.startDate}}
  </div>  
  <div>
    <label><b>End Date: </b></label> {{task.endDate}}
  </div>  
  <div>
    <label><b>Priority: </b></label> {{task.priority}}
  </div>  
  <div>
    <label><b>Task Status: </b></label> {{task.taskStatus}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Task List</button><br>
